<html>
<head>
<title>Create Q</title>
<style>
h1 {
    font-family: "Levenim MT";
    text-align: left;
	 font-size: 20px;
}
</style>
</head>

<body>

<div>
<h1><a href="/"> hello {{ user.username }}! Welcome to Q admin panel</a></h1>
<p>Just fill the form and click done. You are good to go.</p>
</div>

<p><a href = '/'>Home </a></p>
<p><a href = 'logout/'>Logout </a></p>
	
	<h1>hello {{ user.username }}!</h1>
	<form action = "." method = "POST">{% csrf_token %}
	<table>
	{{form.as_table}}
	</table>
	<p><input type = "submit" value = "Submit"> </p>
	</form>
	
	
</body>
</html>